<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905457462417-il4n430vuo27bfq0aejenv61vfkfv663.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905457462417-il4n430vuo27bfq0aejenv61vfkfv663</string>
	<key>API_KEY</key>
	<string>AIzaSyDc8uabGyb7oq7syeuCoKYuvhcbeGyaQCY</string>
	<key>GCM_SENDER_ID</key>
	<string>905457462417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blaychris.NewsDemo</string>
	<key>PROJECT_ID</key>
	<string>news-demo-3b014</string>
	<key>STORAGE_BUCKET</key>
	<string>news-demo-3b014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905457462417:ios:33a041ca5f2cc38f456330</string>
</dict>
</plist>